<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
      <p class="h3 pt-5">LOGIN</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="email"
            class="form-control"
            id="username"
            placeholder="Enter username"
            formControlName="username"
          />
        </div>
        <div
          class="form-group"
          *ngIf="submitted && loginForm.get('username').errors"
        >
          <p
            class="text-danger"
            *ngIf="
              loginForm.get('username').errors &&
              loginForm.get('username').errors.required
            "
          >
            Username is required
          </p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            formControlName="password"
          />
        </div>
        <div
          class="form-group"
          *ngIf="submitted && loginForm.get('password').errors"
        >
          <p
            class="text-danger"
            *ngIf="
              loginForm.get('password').errors &&
              loginForm.get('password').errors.required
            "
          >
            Password is required
          </p>
        </div>

        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
